IMPORT regex

VAR m: regex.Match
IF regex.search("fo+bar", "This is a foobar", OUT m) THEN
    print("\(m[0].start)")
    print("\(m[0].end)")
    print(m[0].group)
END IF
#= 10
#= 16
#= foobar

TESTCASE NOT regex.search("asdf", "foobar", OUT m)

_ := regex.search("(a|(z))(bc)", "abc", OUT m)
TESTCASE m[0].matched = TRUE
TESTCASE m[0].start = 0
TESTCASE m[0].end = 3
TESTCASE m[0].group = "abc"
TESTCASE m[1].matched = TRUE
TESTCASE m[1].start = 0
TESTCASE m[1].end = 1
TESTCASE m[1].group = "a"
TESTCASE m[2].matched = FALSE
TESTCASE m[3].matched = TRUE
TESTCASE m[3].start = 1
TESTCASE m[3].end = 3
TESTCASE m[3].group = "bc"
